@using System.Web.Optimization
@using BootstrapSupport
@using Microsoft.Web.Mvc
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
    </head>
    <body>
        <div class="row" >
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="">
                        <img src="/Content/images/HeaderImage.png"/>
                        <a class="brand" href="#" title="change in _bootstrapLayout.basic.cshtml">Chinese FlashCard App</a>
                    </div>
                    <div class="pull-right">
                        @Html.ActionLink("LogOut","LogOut", "Home")
                    </div>
                </div>
                
                </div>
               
            </div>
        </div>  
        <div class="row" style="padding-top: 200px "> 
            <div class="container">
                @Html.Partial("_alerts")
                @Html.Partial("_validationSummary")
            
                @RenderBody()   
            </div>  

        </div>     


        <hr>
        <footer>
                
        </footer> 
 
        @Scripts.Render("~/js")
        @RenderSection("Scripts", required: false)
    </body>
</html>

